<?xml version="1.0"?>
<launch>
  <!-- <include file="$(find single_racecar_navigation)/launch/movebase/racecar/move_base_namespace_adwa.launch"> -->
  <include file="$(find single_racecar_navigation)/launch/movebase/f1tenth/move_base_namespace_ackermann.launch">
  <!-- <include file="$(find single_racecar_navigation)/launch/movebase/smart/move_base_namespace_teb.launch"> -->
  <!-- <include file="$(find single_racecar_navigation)/launch/movebase/smart/move_base_namespace_dwa.launch"> -->
  <arg name="robot_namespace" value="f1tenth_0" />
  <arg name="model" value="f1tenth" />
  </include>
</launch>
